tr.selected {
	background-color: red;
}

tr.unselected {
	background-color: transparent;
}
/*
td.selected { background-color: blue; }
td.unselected { background-color: green; }
*/
#searcharea {
	/* Provide scrollbars if needed and fix the header dimensions */
/* 	overflow-y: scroll; */
	position: absolute;
	width: 100%;
	height: 50px;
}

#fbcontacts2 {
	/* Provide scrollbars if needed, position below header, and derive height from top/bottom */
	overflow-y: scroll;
	position: absolute;
	width: 100%;
	top: 100px;
	bottom: 0;
}

#facebookLogin{
  position:absolute;
  top:30%;
  left:20%;
  display: inline;
}

#mainLogin{
  position:absolute;
  top:50%;
  left:20%;
  display: inline;
}

#mainNewAccount{
  position:absolute;
  top:50%;
  left:50%;
  display: inline;
}